<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- 设置标准的数据列的命名和javabean属性之间的映射关系. 例如: cust_name 和 custName -->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
</configuration>